<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico" />
    <meta name="description" content="Main page of wall assignment">
    <meta name="author" content="Renz Lester J. Halagao">
    <title>The Wall</title>
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/wall.css">
</head>
<body>
    <header>
        <nav>
            <a href="wall.html">The Wall Assignment</a>
            <span>Welcome, Renz Halagao!</span>
            <a href="index.html">Logout</a>
        </nav>
    </header>
    <section>
        <h4><span id="total_messages">0 </span> messages arranged by latest posted</h4>
        <button id="create_message_modal_button">Create Message</button>
        <div id="create_post_modal" class="modal">
            <div class="modal_content">
                <div class="modal_header">
                    <button class="close_modal"></button>
                </div>
                <div class="modal_body">
                    <h5>Create a Message</h5>
                    <form method="post" id="create_message_form">
                        <textarea id="create_post_textarea" placeholder="Type your message here."></textarea>
                        <button type="submit" id="post_message_btn">Post Message</button>
                        <button type="button" id="cancel_post_message_btn">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="empty_post">
            <img src="../assets/images/empty_post.png" alt="Empty Post">
            <p>No Posted Message Yet.</p>
        </div>
        <div id="message_container">
            <!-- <div id="sample_message"> 
                <p>Sample</p>
                <div class="action_message">
                    <button type="button" class="comment_button">
                        <span class="action_icon"></span><span class="comment_count">0</span> Comment</button>
                    <button type="button" class="edit_button">
                        <span class="action_icon"></span>Edit</button>
                    <button type="button" class="delete_button">
                        <span class="action_icon"></span>Delete</button>
                    <div class="user_profile">
                        <span class="action_icon"></span>
                        You - Few seconds ago
                    </div>
                </div>
            </div> -->

            <ul data-id="sample_message"> 
                <li class="content content_message">Sample</li>
                <li class="comment_button"><span class="action_icon"></span><span class="comment_count">0</span> Comment</li>
                <li class="edit_button"><span class="action_icon"></span>Edit</li> 
                <li class="delete_button"><span class="action_icon"></span>Delete</li>
                <li class="user_profile"><span class="action_icon"></span>You - Few seconds ago</li>
            </ul>

            <ul data-id="sample_comment"> 
                <li class="content content_comment">Sample</li>
                <li class="edit_button"><span class="action_icon"></span>Edit</li> 
                <li class="delete_button"><span class="action_icon"></span>Delete</li>
                <li class="user_profile"><span class="action_icon"></span>You - Few seconds ago</li>
            </ul>

            <form id="sample_comment_form">
                <textarea id="comment_textarea"></textarea>
                <button type="submit" class="post_comment_btn">Post Comment</button>
            </form>
            <form id="sample_edit_form" class="edit_form">
                <textarea></textarea>
                <button type="submit" class="post_updated_button">Update Message</button>
                <button type="button" class="cancel_updating_button">Cancel</button>
            </form>
            <div id="action_modal" class="modal">
                <div class="modal_content">
                    <div class="modal_header">
                        <button class="close_modal"></button>
                    </div>
                    <div class="modal_body">
                        <h5 id="modal_body_title">Confirm Delete Message</h5>
                        <p id="modal_body_description">Are you sure you want to remove this message? This action cannot
                            be undone.</p>
                        <form method="post" id="action_form">
                            <input type="hidden" id="action_form_input">
                            <button type="button" id="cancel_remove_btn">Cancel</button>
                            <button type="submit" id="remove_btn">Yes, Remove it.</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../assets/js/wall.js"></script>
</body>
</html>