section {
  display: flex;
  align-items: center;
}
section div#form_container {
  width: 50%;
}
section div#form_container form {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  color: #152C61;
  display: flex;
  flex-wrap: wrap;
  font: normal 300 16px/24px Poppins_light;
  height: 100%;
  margin: 0px 204px 0px auto;
  width: 450px;
  padding: 32px 40px 40px 40px;
}
section div#form_container form h2 {
  width: 100%;
  color: #2C6BFF;
  font: normal 600 22px/33px Poppins_semi_bold;
}
section div#form_container form h3 {
  width: 100%;
  color: #152C61;
  font: normal 600 40px/60px Poppins_semi_bold;
  margin-top: 40px;
}
section div#form_container form label {
  width: 100%;
  margin-top: 22px;
}
section div#form_container form label:nth-child(1) {
  margin-top: 20px;
}
section div#form_container form label:nth-child(6) {
  width: 50%;
}
section div#form_container form a {
  color: rgba(0, 0, 0, 0.5);
  width: 50%;
  font: normal 300 14px/21px Poppins_light;
  text-decoration: none;
  text-align: right;
  margin-top: 20px;
}
section div#form_container form input {
  width: 100%;
  background: rgba(44, 107, 255, 0.08);
  border-radius: 4px;
  border: none;
  font: normal 400 14px/21px Poppins;
  margin: 6px 0px;
  outline: none;
  padding: 14px 9px;
}
section div#form_container form input.input_error {
  background: rgba(225, 85, 76, 0.08) !important;
}
section div#form_container form button[type=submit] {
  background-color: #2C6BFF;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font: normal 600 16px/24px Poppins_semi_bold;
  margin: 35px auto 35px auto;
  padding: 15px 45px;
}
section div#form_container form span {
  color: rgba(0, 0, 0, 0.2);
  font: normal 400 16px/22px Poppins;
  text-align: center;
  width: 100%;
}
section div#form_container form span a {
  color: #2c6bff;
  font: normal 400 16px/22px Poppins;
  text-decoration: none;
}
section div#form_container form span.sign_in_error,
section div#form_container form span.sign_up_error {
  color: #E1554C;
  display: none;
  font: normal 300 14px/21px Poppins_light;
  text-align: left;
}
section div#form_container form#form_sign_up {
  display: none;
}
section div#form_container form#form_sign_up button[type=submit] {
  margin: 32px auto 35px auto;
}
section div#form_container form#form_sign_up span#agreement_info {
  color: #152c61;
  font: normal 300 16px/24px Poppins_light;
  margin-top: 30px;
  text-align: center;
  padding: 0px;
}
section div#design_container {
  background-color: rgba(44, 107, 255, 0.51);
  height: 100vh;
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
}
section div#design_container img {
  height: 456.62px;
  left: -67px;
  position: absolute;
  width: 487.26px;
}
@media (max-width: 480px) {
  section div#form_container {
    width: 100%;
  }
  section div#form_container form {
    font-size: 14px;
    margin: 30px;
    padding: 22px 30px 30px 30px;
    max-width: 350px;
  }
  section div#form_container form h2 {
    font-size: 19px;
  }
  section div#form_container form h3 {
    font-size: 38px;
  }
  section div#form_container form a,
  section div#form_container form input,
  section div#form_container form button[type=submit],
  section div#form_container form span {
    font-size: 14px;
  }
  section div#form_container form a a,
  section div#form_container form input a,
  section div#form_container form button[type=submit] a,
  section div#form_container form span a {
    font-size: 14px;
  }
  section div#form_container form button[type=submit] {
    padding: 10px 40px;
  }
  section div#form_container #form_sign_up span#agreement_info {
    font-size: 14px;
  }
  section div#design_container {
    display: none;
    visibility: hidden;
  }
}
