body{
    display: flex;
    flex-flow: row nowrap;
    div#sign_up_form{
        display: none;
    }
    div.form{
        background: #ffffff;
        border-radius: 6px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
        margin: 117px 204px 291px 204px;
        padding: 32px 40px 40px 40px;
        width: 915px; 
        h2{
            color: #2C6BFF;
            font: normal 600 22px/33px Poppins_semi_bold;
        }
        h3{
            color: #152C61;
            font: normal 600 40px/60px Poppins_semi_bold;
            margin-top: 40px;
        }
        form{
            color: #152C61;
            display: flex;
            flex-wrap: wrap;
            font: normal 300 16px/24px Poppins_light;
            label{
                width: 100%;
                margin-top: 22px;
            }
            label:nth-child(1){
                margin-top: 20px;
            }
            label:nth-child(4){
                width: 50%;
            }
            a{
                color: rgba(0, 0, 0, 0.5);
                width: 50%;
                font: normal 300 14px/21px Poppins_light;
                text-decoration: none;
                text-align: right;
                margin-top: 20px;
            }  
            input{
                width: 100%;
                background: rgba(44, 107, 255, 0.08);
                border-radius: 4px;
                border: none;
                font: normal 400 14px/21px Poppins;
                margin: 6px 0px;
                outline: none;
                padding: 14px 9px;
            }
            input.input_error{
                background: rgba(225, 85, 76, 0.08) !important;
            }
            button[type=submit]{
                background-color: #2C6BFF;
                border-radius: 4px;
                border: none;
                color: #ffffff;
                font: normal 600 16px/24px Poppins_semi_bold;
                margin: 35px auto 35px auto;
                padding: 15px 45px; 
            }
            span{
                color: rgba(0, 0, 0, 0.2);
                font: normal 400 16px/22px Poppins; 
                text-align: center; 
                width: 100%;
                a{
                    color: #2c6bff;
                    font: normal 400 16px/22px Poppins;
                    text-decoration: none;
                }
            }
            span.sign_in_error,
            span.sign_up_error{
                color: #E1554C;
                display: none;
                font: normal 300 14px/21px Poppins_light;
                text-align: left; 
            }
        }
        #form_sign_up{
            button[type=submit]{
                margin: 32px auto 35px auto;  
            }
            span#agreement_info{
                color: #152c61; 
                font: normal 300 16px/24px Poppins_light; 
                margin-top: 30px;  
                text-align: center;
                padding: 0px;
            }
        }
    }
    div#design_container{
        background-color: rgba(44, 107, 255, 0.51);
        min-height: auto;
        position: relative;
        width: 100%;
        img{
            height: 456.62px;
            left: -67px;
            position: absolute;
            top: 193px;
            width: 487.26px;
        }
    }
} 

@media (max-width: 480px) {
    body{
        div.form{
            margin: 117px 50px 50px 50px;
            padding: 22px 30px 30px 30px;
            h2{
                font-size: 19px; 
            }
            h3{
                font-size: 38px;
            }
            form{
                font-size: 14px;
                a,
                input,
                button[type=submit],
                span{
                    font-size: 14px;
                    a{
                        font-size: 14px;
                    }
                }
                button[type=submit]{
                    padding: 10px 40px; 
                }
            }
            #form_sign_up{
                span#agreement_info{
                    font-size: 14px;
                }
            }
        }
        div#design_container{
            display: none;
            visibility: hidden;
        }
    }
}

