header{
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    nav{
        color: #152c61;
        display: flex;
        margin-inline: auto;
        max-width: 1440px;
        padding: 40px 79px;
        a:nth-child(1){
            align-self: center; 
            color: #152C61;
            font: normal 500 26px/39px Poppins_medium;
            margin-right: auto;
            text-decoration: none;
        }
        span{
            align-self: center;
            font: normal 300 16px/24px Poppins_light;
            margin-right: 20px;
        }
        a:nth-child(3){
            align-self: center;
            color: #2c6bff;
            font: normal 600 16px/24px Poppins_semi_bold;
            text-decoration: none;
        }
    }
}

section{
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 50px auto;
    max-width: 1280px;
    padding: 70px;
    h4{
        color: #707070; 
        display: inline-block;
        font: normal 400 16px/24px Poppins; 
        span{
            color: #2c6bff;
            font: normal 600 16px/24px Poppins_semi_bold;
        }
    }
    button{
        background: #2C6BFF;
        border-radius: 6px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font: normal 500 16px/24px Poppins_medium;
        padding: 7px 28px;
        text-align: center;
    }
    textarea{
        background: #f5f8ff;
        border-radius: 6px;
        border: 1px solid #dce6ff;
        box-sizing: border-box; 
        color: #152c61;
        padding: 6px 11px;
        resize: none;
        width: 100%;
        &:focus{
            outline: none;
        }
    }
    div#empty_post{
        padding: 140px 0px 635px 0px; 
        text-align: center;
        width: 100%;
        p{
            color: #707070;
            font: normal 400 16px/24px Poppins;
            margin-top: 17px;
            text-align: center;
        }
    }
    div#message_container{
        margin-top: 43px;
        width: 100%;
        div.modal{
            align-items: center; 
            background-color: rgba(0, 0, 0, 0.411);
            display: none;
            height: 100%;
            justify-content: center;
            left: 0;
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1;
            div.modal_content{
                background-color: #ffffff;
                border-radius: 6px;
                border: 1px solid #888;
                display: flex;
                flex-direction: column;
                margin: auto;
                padding: 8px 19px;
                width: 897px;
                div.modal_header{ 
                    button.close_modal{
                        background: url('../images/group_2020.png') no-repeat -93px -6px;
                        cursor: pointer; 
                        float: right;
                        height: 18px;
                        margin: 10px 0px 3px 0px;
                        padding: 0px;
                        width: 18px;
                    }
                }
                div.modal_body{
                    padding: 0px 30px 40px 30px;
                    h5{
                        color: #152C61;
                        font: normal 500 26px/39px Poppins_medium;
                        margin-bottom: 40px;
                        text-align: center;
                    }
                    form{
                        display: flex;
                        flex-direction: row-reverse; 
                        flex-wrap: wrap;
                        textarea{
                            font: normal 300 16px/24px Poppins_light;
                            height: 185px;
                            margin-bottom: 27px;
                            width: 100%;
                        }
                        button{
                            padding: 7px 39px;
                        }
                        button.disable_button{
                            background: rgba(44, 107, 255, 0.5) !important;
                        } 
                        button#cancel_post_message_btn{
                            background: transparent;
                            color: rgba(0, 0, 0, 0.6);
                            font: normal 400 16px/24px Poppins;
                            padding: 7px 23px;   
                        }
                    }
                }
            }
        }

        div#sample_message,
        form#sample_comment_form,
        form#sample_edit_form{
            display: none; 
        }
        ul#sample_message,
        ul#sample_comment{
            display: none;
        }
        ul.message_list{
            background: #ffffff;
            border-radius: 6px;
            border: 1px solid #dce6ff;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin-bottom: 20px;
            padding: 24px 30px;
            li.content_message{
                color: #152C61;
                font: normal 300 16px/24px Poppins_light;
                margin-bottom: 20px;
                width: 100%;
            }
            li:not(:first-child){
                color: #707070; 
                cursor: pointer;
                font: normal 400 16px/24px Poppins;
                margin-right: 30px;
                span.action_icon{
                    display: inline-block; 
                    margin-right: 10px; 
                }
                span.comment_count{
                    margin-right: 3px; 
                }
            }
            li.has_comment{
                color: #2c6bff !important;
                span.action_icon{
                    background: url('../images/group_2020.png') no-repeat -3px -36px !important;
                    height: 18px;
                    vertical-align: middle;
                    width: 18px;
                }
            }
            li.comment_button{
                span.action_icon{
                    background: url('../images/group_2020.png') no-repeat -3px -6px;
                    height: 18px;
                    vertical-align: middle;
                    width: 18px;
                }
            }
            li.edit_button{
                color: #2c6bff;
                span.action_icon{
                    background: url('../images/group_2020.png') no-repeat -31px -4px;
                    height: 22px;
                    width: 22px;
                }
            }
            li.delete_button{
                span.action_icon{ 
                    background: url('../images/group_2020.png') no-repeat -64px -5px;
                    height: 19px;
                    vertical-align: middle;
                    width: 16px;
                }
            }
            li{
                color: rgba(0, 0, 0, 0.6);
                font: normal 400 16px/24px Poppins;
                margin-right: 30px;
                span.action_icon{
                    background: url('../images/user_placeholder.png') no-repeat;
                    display: inline-block; 
                    height: 24px;
                    margin-right: 10px;
                    vertical-align: top;
                    width: 24px;
                }
            } 
            form.edit_form{
                display: flex !important; 
                flex-direction: row-reverse;
                flex-wrap: wrap;
                overflow: auto;
                width: 100%;
                textarea{
                    font: normal 300 16px/24px Poppins_light;
                    height: 84px;
                    margin-bottom: 15px;
                    width: 100%;
                }
                button.cancel_updating_button{
                    background: transparent;
                    color: rgba(0, 0, 0, 0.6);
                    font: normal 400 16px/24px Poppins;
                    padding: 7px 30px;   
                }
            }
            form.post_comment_form{
                background-color: #ffffff;
                border-radius: 6px;
                border: 1px solid #dce6ff;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                margin: 30px 0px 20px 0px;
                overflow: auto;
                padding: 30px;
                width: 100%;
                textarea{
                    font: normal 300 16px/24px Poppins_light;
                    height: 84px;
                    margin-bottom: 15px;
                }
                button.disable_button{
                    background: rgba(44, 107, 255, 0.5) !important;
                } 
            }
            ul.comment_list{
                background: #ffffff;
                border-radius: 6px;
                border: 1px solid #dce6ff;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                margin-bottom: 20px;
                padding: 28px 30px;
                width: 100%;
                li:first-child{
                    margin-bottom: 20px;
                    width: 100%;
                }
            }
        }

        div#delete_modal{ 
            div.modal_content{
                width: 540px;
                div.modal_body{
                    color: #152C61;
                    padding: 0px 30px 50px 30px;
                    h5{
                        font: normal 500 26px/39px Poppins_medium;
                        margin-top: 2px;
                        text-align: center;
                    }
                    p{
                        font: normal 400 16px/24px Poppins;
                        margin: 30px 0px;
                        text-align: center;
                    }
                    form{
                        display: flex;
                        justify-content: center;
                        button#cancel_remove_btn{
                            background-color: transparent;
                            color: rgba(0, 0, 0, 0.6);
                            font: normal 400 16px/24px Poppins;
                            padding: 11px 75px;
                        }
                        button#remove_btn{
                            padding: 11px 45px; 
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    header{
        nav{
            padding: 15px;
            h1{
                font: normal 500 16px/39px Poppins_medium;
            }
            span{
                background: url('../images/user_placeholder.png') no-repeat; 
                height: 24px;
                margin-right: 10px;
                text-indent: -9999px;
                width: 24px;
            }
            a{
                font: normal 600 12px/24px Poppins_semi_bold;
            }
        }
    }
    section{
        margin: 30px 20px !important;
        padding: 30px 20px;
        h4{
            display: flex;
            font: normal 400 14px/24px Poppins;
            justify-content: center;
            margin-bottom: 10px;
            span{
                font: normal 600 14px/24px Poppins_semi_bold;
                margin-right: 5px;
            }
        }
        button{
            float: none; 
            font: normal 500 14px/24px Poppins_medium;
            padding: 7px 18px; 
            width: 100%;
        }
        div.modal{
            div.modal_content{
                width: 410px;
                div.modal_body{
                    padding: 0px 15px 25px 15px;
                    h5{
                        font: normal 500 24px/39px Poppins_medium;
                    }
                    form{
                        textarea{
                            font: normal 300 14px/24px Poppins_light;
                        }
                        button{
                            float: right; 
                            width: 49%;
                        }
                        button#cancel_post_message_btn{
                            font: normal 400 14px/24px Poppins;  
                        }
                    }
                }
            }
        }
        div#empty_post{
            padding: 150px 0px 635px 0px;
            img{
                width: 35px;
            }
            p{
                font: normal 400 12px/24px Poppins;
            }
        }
        div#message_container{
            div.message_list{
                padding: 14px 20px;
                p{
                    font: normal 300 14px/24px Poppins_light;
                }
                div.action_message{ 
                    button{
                        font: normal 400 14px/24px Poppins;
                        margin-right: 5px;
                        span.action_icon{
                            display: block;
                            visibility: visible;
                        }
                    }
                    button.has_comment,
                    button.comment_button{
                        width: 190px;
                    }
                    button.edit_button{
                        width: 100px;
                    }
                    button.delete_button{
                        width: 120px;
                    }
                    div{
                        font: normal 400 1px/24px Poppins;
                        visibility: hidden;
                        width: 90px;
                        span.action_icon{
                            margin-left: 5px; 
                            vertical-align: middle;
                            visibility: visible;
                        }
                    }
                }
                form.edit_form{
                    textarea{
                        font: normal 300 14px/24px Poppins_light;
                    }
                    button{
                        float: right; 
                        font: normal 400 14px/24px Poppins;
                        padding: 7px 15px; 
                        width: 50%;
                    }
                }
                form.post_comment_form{
                    padding: 15px;
                    textarea{
                        font: normal 300 14px/24px Poppins_light;
                    }
                    button{
                        float: right;
                        width: 50%;
                    }
                }
                div.comment_list{
                    padding: 14px 20px; 
                }
            }
            div.modal{
                div.modal_content{
                    width: 400px; 
                    div.modal_body{
                        padding: 0px 15px 25px 15px;
                        h5{
                            font: normal 500 24px/39px Poppins_medium; 
                        }
                        p,
                        form{
                            font: normal 400 14px/24px Poppins;  
                        }
                        form{
                            button#cancel_remove_btn{
                                padding: 7px 75px;
                            }
                            button#remove_btn{
                                padding: 7px 25px; 
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1440px){
    section{
        margin: 50px 80px;
    }
} 