body {
  display: flex;
  flex-flow: row nowrap;
}
body div#sign_up_form {
  display: none;
}
body div.form {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  margin: 117px 204px 291px 204px;
  padding: 32px 40px 40px 40px;
  width: 924px;
}
body div.form h2 {
  color: #2C6BFF;
  font: normal 600 22px/33px Poppins_semi_bold;
}
body div.form h3 {
  color: #152C61;
  font: normal 600 40px/60px Poppins_semi_bold;
  margin: 40px 0px 0px 0px;
}
body div.form form {
  color: #152C61;
  display: flex;
  flex-direction: column;
  font: normal 300 16px/24px Poppins_light;
}
body div.form form label {
  margin: 22px 0px 0px 0px;
}
body div.form form label:nth-child(1) {
  margin: 20px 0px 0px 0px;
}
body div.form form label:nth-child(4) a {
  color: rgba(0, 0, 0, 0.5);
  float: right;
  font: normal 300 14px/21px Poppins_light;
  text-decoration: none;
  margin-top: 2px;
}
body div.form form input {
  background: rgba(44, 107, 255, 0.08);
  border-radius: 4px;
  border: none;
  font: normal 400 14px/21px Poppins;
  margin: 6px 0px;
  outline: none;
  padding: 14px 9px;
}
body div.form form input.input_error {
  background: rgba(225, 85, 76, 0.08) !important;
}
body div.form form button[type=submit] {
  background-color: #2C6BFF;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font: normal 600 16px/24px Poppins_semi_bold;
  margin: 35px auto 35px auto;
  padding: 16px 45px;
}
body div.form form span {
  color: rgba(0, 0, 0, 0.2);
  font: normal 400 16px/22px Poppins;
  text-align: center;
}
body div.form form span a {
  color: #2c6bff;
  text-decoration: none;
}
body div.form form span.sign_in_error,
body div.form form span.sign_up_error {
  color: #E1554C;
  display: none;
  font: normal 300 14px/21px Poppins_light;
  text-align: left;
}
body div.form form span#agreement_info {
  color: #152C61;
  font: normal 300 16px/24px Poppins;
  margin-top: 30px;
  text-align: center;
}
body div#design_container {
  background-color: rgba(44, 107, 255, 0.51);
  min-height: auto;
  position: relative;
  width: 100%;
}
body div#design_container img {
  height: 456.62px;
  left: -67px;
  position: absolute;
  top: 193px;
  width: 487.26px;
}
@media (max-width: 480px) {
  body div.form {
    margin: 117px 50px 50px 50px;
  }
  body div#design_container {
    display: none;
    visibility: hidden;
  }
}
