header {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}
header nav {
  color: #152c61;
  display: flex;
  padding: 40px 79px;
}
header nav h1 {
  align-self: center;
  font: normal 500 26px/39px Poppins_medium;
  margin-right: auto;
}
header nav span {
  align-self: center;
  font: normal 300 16px/24px Poppins_light;
  margin-right: 20px;
}
header nav a {
  align-self: center;
  color: #2c6bff;
  font: normal 600 16px/24px Poppins_semi_bold;
  text-decoration: none;
}
section {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  margin: 50px 80px;
  padding: 70px;
}
section h4 {
  display: inline-block;
  font: normal 400 16px/24px Poppins;
}
section h4 span {
  color: #2c6bff;
  font: normal 600 16px/24px Poppins_semi_bold;
}
section button {
  background: #2C6BFF;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  float: right;
  font: normal 500 16px/24px Poppins_medium;
  padding: 7px 28px;
  text-align: center;
}
section textarea {
  background: #f5f8ff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  color: #152c61;
  padding: 6px 11px;
  resize: none;
  width: 100%;
}
section textarea:focus {
  outline: none;
}
section div.modal {
  background-color: rgba(0, 0, 0, 0.411);
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
section div.modal div.modal_content {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #888;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 8px 19px;
  width: 897px;
}
section div.modal div.modal_content div.modal_header button.close_modal {
  background: url('../images/group_2020.png') no-repeat -93px -6px;
  cursor: pointer;
  float: right;
  height: 18px;
  margin: 10px 0px 3px 0px;
  width: 18px;
  padding: 0px;
}
section div.modal div.modal_content div.modal_body {
  padding: 0px 30px 40px 30px;
}
section div.modal div.modal_content div.modal_body h5 {
  color: #152C61;
  font: normal 500 26px/39px Poppins_medium;
  margin-bottom: 40px;
  text-align: center;
}
section div.modal div.modal_content div.modal_body form textarea {
  font: normal 300 16px/24px Poppins_light;
  height: 185px;
  margin-bottom: 27px;
}
section div.modal div.modal_content div.modal_body form button {
  padding: 7px 39px;
}
section div.modal div.modal_content div.modal_body form button.disable_button {
  background: rgba(44, 107, 255, 0.5) !important;
}
section div.modal div.modal_content div.modal_body form button#cancel_post_message_btn {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
  font: normal 400 16px/24px Poppins;
  padding: 7px 23px;
}
section div#empty_post {
  padding: 140px 0px 635px 0px;
  text-align: center;
}
section div#empty_post p {
  color: #707070;
  font: normal 400 16px/24px Poppins;
  margin-top: 17px;
  text-align: center;
}
section div#message_container {
  margin-top: 43px;
}
section div#message_container div#sample_message {
  display: none;
}
section div#message_container div.message_list {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  margin-bottom: 20px;
  padding: 24px 30px;
}
section div#message_container div.message_list p {
  color: #152C61;
  font: normal 300 16px/24px Poppins_light;
}
section div#message_container div.message_list div.action_message {
  align-items: center;
  display: flex;
  margin-top: 20px;
}
section div#message_container div.message_list div.action_message button {
  align-items: center;
  background-color: transparent;
  color: #707070;
  display: flex;
  font: normal 400 16px/24px Poppins;
  margin-right: 30px;
  padding: 0px;
}
section div#message_container div.message_list div.action_message button span {
  margin-right: 10px;
}
section div#message_container div.message_list div.action_message button.has_comment {
  color: #2c6bff !important;
}
section div#message_container div.message_list div.action_message button.has_comment span {
  background: url('../images/group_2020.png') no-repeat -3px -36px !important;
  height: 18px;
  width: 18px;
}
section div#message_container div.message_list div.action_message button.comment_button span {
  background: url('../images/group_2020.png') no-repeat -3px -6px;
  height: 18px;
  width: 18px;
}
section div#message_container div.message_list div.action_message button.edit_button {
  color: #2c6bff;
}
section div#message_container div.message_list div.action_message button.edit_button span {
  background: url('../images/group_2020.png') no-repeat -31px -4px;
  height: 22px;
  width: 22px;
}
section div#message_container div.message_list div.action_message button.delete_button span {
  background: url('../images/group_2020.png') no-repeat -64px -5px;
  height: 19px;
  width: 16px;
}
section div#message_container div.message_list div.action_message span {
  color: rgba(0, 0, 0, 0.6);
  font: normal 400 16px/24px Poppins;
  margin-right: 30px;
}
section div#message_container div.message_list div.action_message span div {
  background: url('../images/user_placeholder.png') no-repeat;
  display: inline-block;
  height: 24px;
  margin-right: 10px;
  vertical-align: top;
  width: 24px;
}
section div#message_container div.message_list form.edit_form {
  overflow: auto;
}
section div#message_container div.message_list form.edit_form textarea {
  font: normal 300 16px/24px Poppins_light;
  height: 84px;
  margin-bottom: 15px;
}
section div#message_container div.message_list form.edit_form button#cancel_updating_button {
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
  font: normal 400 16px/24px Poppins;
  padding: 7px 30px;
}
section div#message_container div.message_list form#post_comment_form {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  margin: 30px 0px 20px 0px;
  overflow: auto;
  padding: 30px;
}
section div#message_container div.message_list form#post_comment_form textarea {
  font: normal 300 16px/24px Poppins_light;
  height: 84px;
  margin-bottom: 15px;
}
section div#message_container div.message_list form#post_comment_form button.disable_button {
  background: rgba(44, 107, 255, 0.5) !important;
}
section div#message_container div.message_list div.comment_list {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #DCE6FF;
  margin-bottom: 20px;
  overflow: auto;
  padding: 28px 30px;
}
section div#message_container div.modal div.modal_content {
  width: 540px;
}
section div#message_container div.modal div.modal_content div.modal_body {
  color: #152C61;
  padding: 0px 30px 50px 30px;
}
section div#message_container div.modal div.modal_content div.modal_body h5 {
  font: normal 500 26px/39px Poppins_medium;
  margin-top: 2px;
  text-align: center;
}
section div#message_container div.modal div.modal_content div.modal_body p {
  font: normal 400 16px/24px Poppins;
  margin: 30px 0px;
  text-align: center;
}
section div#message_container div.modal div.modal_content div.modal_body form {
  display: flex;
  justify-content: center;
}
section div#message_container div.modal div.modal_content div.modal_body form button#cancel_remove_btn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  font: normal 400 16px/24px Poppins;
  padding: 11px 75px;
}
section div#message_container div.modal div.modal_content div.modal_body form button#remove_btn {
  padding: 11px 45px;
}
@media (max-width: 480px) {
  header nav {
    padding: 15px;
  }
  header nav h1 {
    font: normal 500 16px/39px Poppins_medium;
  }
  header nav span {
    background: url('../images/user_placeholder.png') no-repeat;
    height: 24px;
    margin-right: 10px;
    text-indent: -9999px;
    width: 24px;
  }
  header nav a {
    font: normal 600 12px/24px Poppins_semi_bold;
  }
  section {
    margin: 30px 20px;
    padding: 30px 20px;
  }
  section h4 {
    display: flex;
    font: normal 400 14px/24px Poppins;
    justify-content: center;
    margin-bottom: 10px;
  }
  section h4 span {
    font: normal 600 14px/24px Poppins_semi_bold;
    margin-right: 5px;
  }
  section button {
    float: none;
    font: normal 500 14px/24px Poppins_medium;
    padding: 7px 18px;
    width: 100%;
  }
  section div.modal div.modal_content {
    width: 410px;
  }
  section div.modal div.modal_content div.modal_body {
    padding: 0px 15px 25px 15px;
  }
  section div.modal div.modal_content div.modal_body h5 {
    font: normal 500 24px/39px Poppins_medium;
  }
  section div.modal div.modal_content div.modal_body form textarea {
    font: normal 300 14px/24px Poppins_light;
  }
  section div.modal div.modal_content div.modal_body form button {
    float: right;
    width: 49%;
  }
  section div.modal div.modal_content div.modal_body form button#cancel_post_message_btn {
    font: normal 400 14px/24px Poppins;
  }
  section div#empty_post {
    padding: 150px 0px 635px 0px;
  }
  section div#empty_post img {
    width: 35px;
  }
  section div#empty_post p {
    font: normal 400 12px/24px Poppins;
  }
  section div#message_container div.message_list {
    padding: 14px 20px;
  }
  section div#message_container div.message_list p {
    font: normal 300 14px/24px Poppins_light;
  }
  section div#message_container div.message_list div.action_message button {
    font: normal 400 14px/24px Poppins;
    margin-right: 5px;
  }
  section div#message_container div.message_list div.action_message button span {
    display: block;
    visibility: visible;
  }
  section div#message_container div.message_list div.action_message button.has_comment,
  section div#message_container div.message_list div.action_message button.comment_button {
    width: 190px;
  }
  section div#message_container div.message_list div.action_message button.edit_button {
    width: 100px;
  }
  section div#message_container div.message_list div.action_message button.delete_button {
    width: 120px;
  }
  section div#message_container div.message_list div.action_message span {
    font: normal 400 1px/24px Poppins;
    visibility: hidden;
    width: 90px;
  }
  section div#message_container div.message_list div.action_message span div {
    margin-left: 5px;
    vertical-align: middle;
    visibility: visible;
  }
  section div#message_container div.message_list form.edit_form textarea {
    font: normal 300 14px/24px Poppins_light;
  }
  section div#message_container div.message_list form.edit_form button {
    float: right;
    font: normal 400 14px/24px Poppins;
    padding: 7px 15px;
    width: 50%;
  }
  section div#message_container div.message_list form#post_comment_form {
    padding: 15px;
  }
  section div#message_container div.message_list form#post_comment_form textarea {
    font: normal 300 14px/24px Poppins_light;
  }
  section div#message_container div.message_list form#post_comment_form button {
    float: right;
    width: 50%;
  }
  section div#message_container div.message_list div.comment_list {
    padding: 14px 20px;
  }
  section div#message_container div.modal div.modal_content {
    width: 400px;
  }
  section div#message_container div.modal div.modal_content div.modal_body {
    padding: 0px 15px 25px 15px;
  }
  section div#message_container div.modal div.modal_content div.modal_body h5 {
    font: normal 500 24px/39px Poppins_medium;
  }
  section div#message_container div.modal div.modal_content div.modal_body p,
  section div#message_container div.modal div.modal_content div.modal_body form {
    font: normal 400 14px/24px Poppins;
  }
  section div#message_container div.modal div.modal_content div.modal_body form button#cancel_remove_btn {
    padding: 7px 75px;
  }
  section div#message_container div.modal div.modal_content div.modal_body form button#remove_btn {
    padding: 7px 25px;
  }
}
