header {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
header nav {
  color: #152c61;
  padding: 38px 48px 40px 83px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  align-self: center;
  list-style: none;
  text-align: right;
}
header nav ul h1 {
  font: normal 500 26px/39px Poppins_medium;
}
header nav ul a {
  color: #2c6bff;
  font: normal 600 16px/24px Poppins_semiBold;
  text-decoration: none;
}
header nav ul li:nth-child(1) {
  margin-right: auto;
}
header nav ul li:nth-child(2) {
  font: normal 300 16px/24px Poppins_light;
  margin-right: 20px;
}
section {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  margin: 50px 79px;
  padding: 70px;
}
section h4 {
  color: #707070;
  display: inline-block;
  font: normal 400 16px/24px Poppins;
}
section h4 span {
  color: #2c6bff;
  font: normal 600 16px/24px Poppins;
}
section button {
  background-color: #2c6bff;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  float: right;
  font: normal 500 16px/24px Poppins_medium;
  padding: 11px 26px;
  text-align: center;
}
section textarea {
  background-color: #f5f8ff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  color: #152c61;
  padding: 6px 11px;
  resize: none;
  width: 100%;
}
section div.modal {
  background-color: rgba(0, 0, 0, 0.411);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
section div.modal div.modal_content {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #888;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 8px 19px 8px 19px;
  width: 897px;
}
section div.modal div.modal_content div.modal_header .close_modal {
  color: #152c61;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
section div.modal div.modal_content div.modal_header .close_modal:hover,
section div.modal div.modal_content div.modal_header .close_modal:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
section div.modal div.modal_content div.modal_body {
  padding: 0px 30px 40px 30px;
}
section div.modal div.modal_content div.modal_body h5 {
  color: #152c61;
  font: normal 500 26px/39px Poppins_medium;
  margin: 0px 0px 40px 0px;
  text-align: center;
}
section div.modal div.modal_content div.modal_body form textarea {
  font: normal 300 16px/24px Poppins_light;
  height: 185px;
  margin-bottom: 24px;
}
section div.modal div.modal_content div.modal_body form button#post_message_btn {
  margin: 1px;
  padding: 12px 40px;
}
section div.modal div.modal_content div.modal_body form button#cancel_post_message_btn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  font: normal 400 16px/24px Poppins;
  padding: 12px 20px;
}
section div#empty_post {
  margin: 52px 0px 709px 0px;
  text-align: center;
}
section div#empty_post img {
  margin: 94px 0px 17px 0px;
}
section div#empty_post p {
  color: #707070;
  font: normal 400 16px/24px Poppins;
  text-align: center;
}
section div#message_container {
  margin: 52px 0px 0px 0px;
}
section div#message_container div.message_list {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  margin-bottom: 18px;
  padding: 23px 27px;
}
section div#message_container div.message_list p {
  color: #152c61;
  font: normal 300 16px/24px Poppins_light;
}
section div#message_container div.message_list div.action_message {
  align-items: center;
  display: flex;
  margin-top: 18px;
}
section div#message_container div.message_list div.action_message button {
  align-items: center;
  background-color: transparent;
  display: flex;
  font: normal 400 16px/24px Poppins;
  padding: 0px;
  margin-right: 30px;
}
section div#message_container div.message_list div.action_message button span {
  margin-right: 10px;
}
section div#message_container div.message_list div.action_message button.comments_list {
  color: #2c6bff;
}
section div#message_container div.message_list div.action_message button.comments_list span {
  background: url('../images/Group 2020.png') no-repeat -3px -36px;
  height: 18px;
  width: 18px;
}
section div#message_container div.message_list div.action_message button.comment_button {
  color: #707070;
}
section div#message_container div.message_list div.action_message button.comment_button span {
  background: url('../images/Group 2020.png') no-repeat -3px -6px;
  height: 18px;
  width: 18px;
}
section div#message_container div.message_list div.action_message button.edit_button {
  color: #2c6bff;
}
section div#message_container div.message_list div.action_message button.edit_button span {
  background: url('../images/Group 2020.png') no-repeat -31px -4px;
  height: 22px;
  width: 22px;
}
section div#message_container div.message_list div.action_message button.delete_button {
  color: #707070;
}
section div#message_container div.message_list div.action_message button.delete_button span {
  background: url('../images/Group 2020.png') no-repeat -64px -5px;
  height: 19px;
  width: 16px;
}
section div#message_container div.message_list div.action_message span.user_profile {
  color: #707070;
  font: normal 400 16px/24px Poppins;
  margin-right: 30px;
}
section div#message_container div.message_list div.action_message span.user_profile div {
  background: url('../images/User Placeholder.png') no-repeat;
  display: inline-block;
  height: 24px;
  vertical-align: top;
  width: 24px;
  margin-right: 10px;
}
section div#message_container div.message_list form.edit_message_form,
section div#message_container div.message_list form#edit_message_form {
  overflow: auto;
}
section div#message_container div.message_list form.edit_message_form textarea,
section div#message_container div.message_list form#edit_message_form textarea {
  font: normal 300 16px/24px Poppins_light;
  height: 84px;
  margin-bottom: 15px;
}
section div#message_container div.message_list form.edit_message_form button#cancel_updating_message_btn,
section div#message_container div.message_list form#edit_message_form button#cancel_updating_message_btn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  font: normal 400 16px/24px Poppins;
  padding: 12px 28px;
}
section div#message_container div.message_list form#post_comment_form {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  margin: 25px 0px 20px 0px;
  overflow: auto;
  padding: 30px;
}
section div#message_container div.message_list form#post_comment_form textarea {
  font: normal 300 16px/24px Poppins_light;
  height: 84px;
  margin-bottom: 15px;
}
section div#message_container div.message_list div.comment_list {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  margin-bottom: 18px;
  overflow: auto;
  padding: 30px;
}
section div#message_container div.message_list div.comment_list form#edit_comment_form {
  display: none;
}
section div#message_container div.message_list div.comment_list form#edit_comment_form textarea {
  font: normal 300 16px/24px Poppins_light;
  height: 84px;
  margin-bottom: 15px;
}
section div#message_container div.message_list div.comment_list form#edit_comment_form button#cancel_updating_comment_btn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  font: normal 400 16px/24px Poppins;
  padding: 12px 28px;
}
section div#message_container div.modal div.modal_content {
  width: 500px;
}
section div#message_container div.modal div.modal_content div.modal_body {
  padding: 0px 30px 50px 30px;
}
section div#message_container div.modal div.modal_content div.modal_body h5 {
  color: #152c61;
  font: normal 500 26px/39px Poppins_medium;
  text-align: center;
  margin: 2px 0px 0px 0px;
}
section div#message_container div.modal div.modal_content div.modal_body p {
  font: normal 400 16px/24px Poppins;
  margin: 30px 0px 30px 0px;
  text-align: center;
}
section div#message_container div.modal div.modal_content div.modal_body form {
  display: flex;
  justify-content: center;
}
section div#message_container div.modal div.modal_content div.modal_body form button#cancel_remove_btn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  font: normal 400 16px/24px Poppins;
  padding: 12px 75px;
}
